<div class="search-container">
	<i class="ion-ios-search-strong"></i>
	<div class="search-content">
	<div class="container">
	<div id="search">
			<h1>{{ text_search }}</h1>
			<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
			<button type="button" class="btn btn-default btn-lg"><i class="ion-ios-search-strong"></i></button>
		</div>
	</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.search-container > i').click(function(){
			$(".search-content").slideToggle();
			$(this).toggleClass("ion-ios-search-strong ion-android-close")
		});
	});
</script>