/* none slider */
.tt-product .two_items:nth-child(2n+1),
.tt-product .three_items:nth-child(3n+1),
.tt-product .four_items:nth-child(4n+1),
.tt-product .six_items:nth-child(6n+1){
	clear: both;
}
/* product grid */
.product-grid .caption{
	padding: 20px 0 0;
}
.product-list .product-name{
	font-weight: 400;
}
.product-name{	
	font-size: 14px;
	text-transform: capitalize;
	margin: 0 0 15px;
	line-height: 18px;
	font-weight: 300;
	clear: both;
}
.product-name a{
	color: #292929;
}
.product-name a:hover{
	color: #24bbdb;
}
.price-tax{
	display: none;
}
.price{
	color: #929292;
	font-size: 16px;
	margin: 0;
	font-family: 'Karla', sans-serif;
}
.price-new{
	color: #24bbdb;
	font-weight: 700;
}
.price-old{
	text-decoration: line-through;
	margin-right: 5px;
}
.product-des{
	color: #898989;
	line-height: 24px;
	font-weight: 300;
	margin: 20px 0 0 0;	
}
.product-list .product-des{
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
	margin: 30px 0 0 0;	
}
.ratings{
	float: right;
	width: 67px;
	margin: 0 0 15px;
}
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: center left;
	font-size: 0;
	height: 12px;
}
.ratings .rating-box .rating0{
	background-image: url("image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("image/rating5.png")
} 
.image > a{
	display: block;
	overflow: hidden;
	position: relative;
}
.image{
	position: relative;
	overflow: hidden;
	z-index: 10;
}
.img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-layout:hover .img-r{
	opacity: 1;
}
.action-links,
.image img{
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	transition: all .7s ease 0s;
}
.product-list .action-links,
.product-grid .action-links{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 190px;
	-webkit-transform: translate(-50%,-50%) scale(0);
	-moz-transform: translate(-50%,-50%) scale(0);
	-o-transform: translate(-50%,-50%) scale(0);
	transform: translate(-50%,-50%) scale(0);
	z-index: 3;
}
.action-links{
	text-align: center;	
	background: #fff;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	padding: 16px 0;
	border-radius: 3px;
}
.product-list.product-layout:hover .action-links{
	/* left: 35px; */
}
.product-layout:hover .action-links{
	-webkit-transform: translate(-50%,-50%) scale(1);
	-moz-transform: translate(-50%,-50%) scale(1);
	-o-transform: translate(-50%,-50%) scale(1);
	transform: translate(-50%,-50%) scale(1);
}
.action-links button span{
	display: none;
}
.action-links button{
	display: inline-block;
	width: 60px;
	color: #707070;
	font-size: 20px;
	text-align: center;
	background: none;
	line-height: 1;
	vertical-align: middle;
	box-shadow: none;
	border:  none;
}
.action-links button:not(:last-child){
	border-right: 1px solid #ebebeb;
}
.action-links .btn-wishlist{
	display: none;
}
.action-links button:hover{
	color: #24bbdb;
}
.label-product{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #24bbdb;
	color: #fff;
	text-transform: capitalize;
	/* font-weight: 500; */
	/* font-size: 12px; */
	text-align: center;
	line-height: 50px;
	top: 20px;
	left: 20px;
	z-index: 2;
	border-radius: 100%;
}
.product-list .label-product{
	left: 35px;
}
.label-product.label_sale{
	background: #e2bca0;
}
.label-product + .label-product{
	display: none;
}
.btn-cart span{
	display: none;	
}
.manufacture-product a:hover{
	color: #24bbdb
}
.manufacture-product a{
	vertical-align: top;
	color: #929292;
	letter-spacing: .025em;
	line-height: 18px;
	font-size: 12px;
	text-transform: capitalize;
}
.manufacture-product{
	color: #929292;
	float: left;
	width: 50%;
}
/* list style */
.list-style .product-thumb{
	width: 100%;
	float: left;
}
.list-style .caption{
	float: left;
	width: 70%;
	padding-left: 20px;
}
.list-style .image{
	float: left;
	width: 30%;
}
.list-style .label-product{
	display: none;
}
.list-style .action-links{
	text-align: left;
	box-shadow: none;
}
.list-style .action-links button{
	width: 40px;
}
.multi-rows .row_items .product-layout:not(:last-child) .product-thumb{
	margin-bottom: 50px;
}
/* tabs product */
.tab-heading.nav-pills > li.active::before{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #292929 transparent transparent transparent;
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	display: none;
}
.tab-heading.nav-pills > li.active a:focus,
.tab-heading.nav-pills > li.active a:hover,
.tab-heading.nav-pills > li.active a,
.tab-heading.nav-pills > li a:focus,
.tab-heading.nav-pills > li a:hover{
	color: #24bbdb;
	background: none;
}
.tab-heading.nav-pills > li a{
	background: none;
	color: #b0afaf;
	/* margin: 0 5px; */
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
	padding: 0px 35px;
	cursor: pointer;
	position: relative;
	border-radius: 3px;
}
.tab-heading.nav-pills > li{
	float: none;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}
.tab-heading{
	text-align: center;
	padding: 0;
	margin: 0 0 50px 0 !important;
}
/* responsive */
@media(max-width: 560px){
	.tab-heading{
		/* margin: 0 0 40px 0 !important; */
	}
}